include README.md
include LICENSE
include CHANGELOG.md
recursive-include docs *.md
recursive-include licenses *.md *.txt LICENSE* *-LICENSE
recursive-include boltz2_client *.py
recursive-include examples *.py *.yaml *.a3m *.ipynb *.md *.json *.txt *.sh
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
recursive-exclude dev *
recursive-exclude * *.cif
recursive-exclude * *.log
